.wrapper {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: rgb(30, 30, 30);
}

.story {
	margin: 0 auto;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}

.title {
	display: flex;
	align-items: center;
}

.title img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
}

.pause {
	color: white;
	font-size: 11px;
	background-color: rgb(80, 80, 80);
	padding: 5px;
	border-radius: 5px;
}

.details {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	font-size: 13px;
	color: white;
	padding-right: 10px;
	cursor: pointer;
}

.video {
	padding: 50px 30px 0 30px;
	display: flex;
	flex: 1;
	position: relative;

	@media(max-width:500px) {
		padding: 50px 25px 0 25px;
	}
}

.story_img_dots {
	width: 40px;
	height: 40px;
	padding-left: 10px;
	cursor: pointer;
}

.video video {
	width: 100%;
}

.progress_bars {
	display: flex;
	margin-top: 25px;
}

.progress_bar_container {
	background: rgb(150, 150, 150);
	height: 2px;
	flex: 1;
	margin: 0 5px;
}

.progress_bar_container:last-child {
	margin-right: 0;
}

.progress_bar {
	background: white;
	height: 2px;
	width: 0%;
}

.progress_bar_finished {
	width: 100%;
}

@keyframes ProgressBar {
	0% {
		width: 0%;
	}

	100% {
		width: 100%;
	}
}

.progress_bar_active {
	animation-name: ProgressBar;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.progress_bar_paused {
	animation-play-state: paused;
}

.arrow {
	width: 25px;
	height: 25px;
	position: absolute;
	margin-top: 5px;
	top: 50%;

	@media(max-width:500px) {
		width: 20px;
		height: 20px;
	}
}

.previous {
	left: 0;
}

.next {
	right: 0;
}

.close_modal {
	position: absolute;
	height: 30px;
	width: 30px;
	right: 15px;
	top: 15px;
	cursor: pointer;

	@media(max-width:500px) {
		height: 20px;
		width: 20px;
	}
}