.modal-container {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.45);
}

.modal {
	background-color: white;
	width: 900px;
	height: 600px;
	margin: 0 auto;
	margin-top: 150px;
	display: flex;
}

.close-modal {
	position: absolute;
	height: 50px;
	width: 50px;
	right: 15px;
	top: 15px;
	cursor: pointer;
}

.modal-image {
	height: 600px;
	width: 550px;
	object-fit: cover;
}

.modal-content-section {
	width: 100%;
	font-size: 15px;
	display: flex;
	flex-direction: column;
}

.modal-top-section {
	display: flex;
	padding: 15px;
	align-items: center;
	border-bottom: 1px solid rgb(220, 220, 220);
}

.modal-top-section-img-profile {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin-right: 10px;
}

.modal-top-section-img-dots {
	width: 25px;
	height: 25px;
}

.username {
	font-weight: 600;
}

.modal-comment-section {
	padding: 15px;
	border-bottom: 1px solid rgb(220, 220, 220);
	height: 350px;
	overflow-y: scroll;
}

.detaild-action {
	display: flex;
}

.space-right-img {
	margin-right: 15px;
}

.modal-details-section {
	padding: 15px;
	border-bottom: 1px solid rgb(220, 220, 220);
}

.modal-details-section span {
	font-weight: 600;
}

.modal-intro-img {
	width: 28px;
	height: 28px;
}

.modal-write-section {
	padding: 15px;
	display: flex;
	flex: 1;
}

.modal-write-section a {
	text-decoration: none;
	color: rgb(80, 40, 230);
	margin-right: 5px;
}

.modal-write-section a:visited {
	color: rgb(80, 40, 230);
}

.modal-write-section {
	color: rgb(150, 150, 150);
}